@use "../../assets/scss/abstracts.scss" as *;

.recipe-body {
  display: flex;
  font-size: $size18;
  @include responsive(800) {
    flex-direction: column;
  }
  &__process,
  &__ingredients {
    & > *:not(:last-child) {
      margin-bottom: $space16;
    }
  }
  &__process {
    flex-basis: 60%;
    padding: $padding-lg;
  }
  &__ol {
    list-style-position: inside;
  }
  &__li {
    &::marker {
      color: $color-pr;
    }
  }
  &__sub {
    display: inline-block;
    width: 95%;
    color: $color-pr;
    font-size: $size20;
    position: relative;
    &::after {
      content: "";
      display: inline-block;
      width: 90%;
      height: 1px;
      background-color: $color-pr;
      position: absolute;
      top: 50%;
      right: 0;
      transform: translateY(-50%);
    }
  }
  &__text {
    padding: $padding-sm;
    padding-top: 0;
  }
  &__ingredients {
    flex-basis: 40%;
    padding: $padding-lg;
  }
  &__list {
    list-style-type: none;
    list-style-position: inside;
  }
  &__item {
    padding: $space12 0;
    &:not(:last-child) {
      border-bottom: 2px solid $grey-f7;
    }
  }
}
