// ======= Imports ======= //

@use "../abstracts/" as *;

// ======= Codes ======= //

.section-loading {
  padding: $space128 0;
  font-size: $size30;
  text-align: center;
}

.loader {
  display: inline-block;
  width: 15rem;
  height: 15rem;
  background-color: $grey-ll;
  border-radius: 50%;
  position: relative;
  &__text {
    animation: scaleText 1s linear infinite;
    @include positionCenter;
  }
  &::after {
    content: "";
    display: inline-block;
    width: 20rem;
    height: 20rem;
    background: linear-gradient(to right bottom, $color-pr, $color-pd);
    border-radius: 50%;
    position: absolute;
    top: -2.5rem;
    left: -2.5rem;
    z-index: -1;
    animation: infiniteRotate 3s linear infinite;
  }
}
