@use "../../../assets/scss/abstracts.scss" as *;

.recipe-header {
  display: flex;
  align-items: center;
  gap: $space32;
  padding: $padding-lg;
  @include responsive(800) {
    flex-direction: column;
  }
  &__img-box {
    flex-basis: 40%;
  }
  &__img {
    display: inline-block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: $border-rad-s;
  }
  &__text-box {
    flex-basis: 60%;
    & > *:not(:last-child) {
      margin-bottom: $space16;
    }
  }
  &__text {
    color: $grey-77;
    font-size: $size20;
  }
  &__info-box {
    display: flex;
  }
  &__info {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: $padding-sm;
    background-color: $grey-f7;
    border: 4px solid $white;
    border-radius: $border-rad-s;
  }
  &__info-title {
    font-size: $size20;
    font-weight: normal;
  }
  &__info-text {
    color: $grey-77;
  }
  &__info-icon {
    color: $grey-77;
    font-size: $size36;
  }
  &__user-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__author-box {
  }
  &__author {
  }
  &__author-link {
    text-decoration: none;
    color: $color-pr;
  }
  &__author-total {
    color: $grey-77;
  }
  &__user-save {
    font-size: $size24;
  }
}
