/*

Font sizes (px):- 10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

Spacing system (px):- 2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128 / 160

*/

// ======= Typography Sizes ======= //

$size10: 1rem;
$size12: 1.2rem;
$size14: 1.4rem;
$size16: 1.6rem;
$size18: 1.8rem;
$size20: 2rem;
$size24: 2.4rem;
$size30: 3rem;
$size36: 3.6rem;
$size44: 4.4rem;
$size52: 5.2rem;
$size62: 6.2rem;
$size74: 7.4rem;
$size86: 8.6rem;
$size98: 9.8rem;

// ======= Color Palette ======= //

// Primary Color
$color-pr: #e67e22;

// Tints
$color-pl: #fdf2e9;
$color-pd: #fae5d3;

// Shades or Accent Color
$color-se: crimson;

// Grey Light
$grey-ll: #f8f9fa;
$grey-lm: #f1f3f5;
$grey-ld: #dee2e6;

// Grey Dark
$grey-dl: #868e96;
$grey-dm: #495057;
$grey-dd: #444444;

$black: #000000;
$white: #ffffff;

// ======= Shadows ======= //

$shadow-s: 0 1px 3px 0 rgba($black, 0.1), 0 1px 2px -1px rgba($black, 0.1);
$shadow-m: 0 4px 6px -1px rgba($black, 0.1), 0 2px 4px -2px rgba($black, 0.1);
$shadow-l: 0 10px 15px -3px rgba($black, 0.1), 0 4px 6px -4px rgba($black, 0.1);

// ======= Border Radius ======= //

$border-rad-s: 0.4rem;
$border-rad-m: 1.2rem;
$border-rad-l: 1.6rem;

// ======= Spacing ======= //

$space2: 0.2rem;
$space4: 0.4rem;
$space8: 0.8rem;
$space12: 1.2rem;
$space16: 1.6rem;
$space24: 2.4rem;
$space32: 3.2rem;
$space48: 4.8rem;
$space64: 6.4rem;
$space80: 8rem;
$space96: 9.6rem;
$space128: 12.8rem;
$space160: 16rem;

// ======= Grid ======= //

$grid-width: 132rem;
$gutter-col: 6.4rem; // horizontal margin/padding
$gutter-row: 9.6rem; // vertical margin/padding

// ======= Transition ======= //

$transition-s: all 0.2s linear;
$transition-m: all 0.3s linear;
$transition-l: all 0.5s linear;
