@use "../../assets/scss/abstracts.scss" as *;

.btn {
  &,
  &:link,
  &:visited {
    display: inline-block;
    padding: $padding-sm;
    background-color: $grey-33;
    border: none;
    border-radius: $border-rad-s;
    color: $grey-f7;
    font-size: $size16;
    text-decoration: none;
    cursor: pointer;
    transition: $transition-s;
    outline: 2px dashed transparent;
  }
  &:hover {
    background-color: $grey-44;
  }
  &:active,
  &:focus {
    outline: 2px dashed $grey-33;
    outline-offset: 2px;
  }
  &--link {
    padding: 0;
    background-color: transparent;
    color: $color-pr;
    &:hover {
      text-decoration: underline;
      background-color: transparent;
      transform: scale(1.03);
    }
  }
  &--primary {
    background-color: $color-pr;
    color: $grey-f7;
    &:hover {
      background-color: $color-pl;
    }
  }
}
