@use "../../assets/scss/abstracts.scss" as *;

.form {
  display: flex;
  flex-wrap: wrap;
  gap: $space16;
  & div[class="form__group"] {
    flex-basis: 100%;
  }
  & div[class="form__group--inline"] {
    flex-basis: calc(50% - (#{$space16} / 2));
  }
}
