@use "../assets/scss/abstracts.scss" as *;

.notification {
  display: flex;
  padding: $padding-l;
  margin: $space16 0;
  border: 2px solid $color-se;
  border-radius: $border-rad-s;
  transition: $transition-s;
}
